﻿@model IEnumerable<ShopManagement.Models.Notification>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.Password)
            </td>
            <td>
                @{ if (TempData["staffoccupationID"].ToString() == "1")
                    {
                        <a type="button" class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a type="button" class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a type="button" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else
                    {
                        <a type="button" class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
