﻿@model IEnumerable<ShopManagement.Models.Payments>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Workingdays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bonus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Workingdays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bonus)
            </td>
            <td>
                <a type="button" class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a type="button" class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a type="button" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
