﻿@model IEnumerable<ShopManagement.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<p></p>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availableqty)
            </th>
            <th><form class="form-inline my-2 my-lg-0" asp-controller="Products" asp-action="Index" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="searchProduct">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
        </svg>
    </button>
</form></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Availableqty)
                </td>
                <td>
                    @{ if (TempData["staffoccupationID"].ToString() == "1" || TempData["staffoccupationID"].ToString() == "6")
                        {
                            <a type="button" class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a type="button" class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a type="button" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        else if (TempData["staffoccupationID"].ToString() == "2" || TempData["staffoccupationID"].ToString() == "3")
                        {
                            <a type="button" class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
